html,
body {
  height: 100%;
}

body {
  font-size: 12px;
  font-size: 16px;
  color: $default;
  @extend %dmsans-400;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: $footer;
  font-size: 14px;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: #191919;
  text-align: center;
}

button {
  border: none;
  background-color: #ffffff;
  // margin-right: 30px;
  @extend %dmsans-700;
  font-size: 16px;
  font-weight: bold;
  color: #8b8b8b;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #292929;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
  }
  &__items {
    @extend%rubik-400;
    color: #83898f;
    font-size: 14px;
    line-height: 24px;
    padding-right: 20px;
    position: relative;
    &::after {
      content: "/";
      position: absolute;
      width: 7px;
      height: 13px;
      right: 7px;
      top: 1px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
