@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-logo {
  display: flex;
  .glee-img {
    position: relative;
    left: 10px;
    top: 6px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 30px;
  }
  &__list-link {
    @extend %rubik-500;
    color: $default;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 2px 1px;
  }
}

.user-nav {
  &__item {
    display: inline-flex;
  }

  &__item + .user-nav__item {
    margin-left: 20px;
  }
}

.user-nav__search {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #edf1f4;
  border-radius: 50%;
  background-color: #edf1f4;

  &-link {
    position: absolute;
    margin: 16px;
  }
}
.user-nav__buy {
  justify-content: space-between;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: $bg;

  &-link {
    position: relative;
    margin-left: 50px;
    top: 19px;
    left: -18px;
  }
  &-num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    top: -6px;
    right: -11px;
    color: $default;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
  }
}
.user-nav__buy::after {
  content: "";
  height: 32px;
  border-left: 1px solid #fde7d3;
  position: relative;
  top: 10px;
  left: -89px;
}

.user-nav__menu {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $btn;
  &-link {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

.footer-top {
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact {
    width: 180px;
    margin-right: 120px;
  }
  &__sevices {
    width: 130px;
    margin-right: 170px;
  }
  &__account {
    width: 100px;
    margin-right: 200px;
  }

  &__forms {
    max-width: 270px;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 15px;
    @extend %rubik-400;
  }

  &__title {
    margin: 15px 0 25px;
    line-height: 21px;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;
    @extend %dmsans-700;
  }

  &__link {
    display: block;
    margin-bottom: 15px;
    @extend %rubik-400;
  }
  &__text {
    color: $footer;
    line-height: 24px;
    margin-bottom: 35px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__form-email {
    width: 170px;
    height: 40px;
    background-color: $accent;
    border: none;
    outline: none;
    padding: 15px;
    color: #234969;
    font-size: 12px;
    &::placeholder {
      color: #234969;
      font-weight: bold;
    }
  }

  &__form-btn {
    max-width: 100px;
    width: 100%;
    height: 40px;
    background-color: $btn;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
}

.footer-bottom {
  height: 90px;
  padding: 30px 0 35px;
  display: flex;
  justify-content: space-between;

  &__text,
  &__item-link {
    @extend %rubik-400;
    color: $footer;
  }

  &__item-link {
    padding: 0 7px;
  }
  &__item-link + .footer-bottom__item-link {
    border-left: 1px solid $footer;
    height: 17px;
  }
  &__item-link::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
  }
}
.top {
  background-color: $top;
  width: 100%;
  height: 125px;
  padding: 30px 0;
  text-align: center;
  &__title {
    @extend%rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 10px;
  }
}
.slider-top {
  &__inner {
    width: 100%;
    height: 820px;
    padding-top: 215px;
    background-color: $bg;
    background-size: cover;
    display: block;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      top: 90px;
      bottom: 0;
      right: 0;
      left: 1030px;
      background-image: url("../images/slider/gradient-bg.png");
      background-repeat: no-repeat;
      width: 634px;
      height: 634px;
      z-index: -231;
    }
  }

  &__item {
    position: relative;
    z-index: 9999;
    display: flex !important;
    justify-content: space-evenly;
  }

  &__title {
    color: $title;
    @extend %rubik-500;
    font-size: 70px;
    line-height: 72px;
    max-width: 400px;
    padding-bottom: 40px;
  }
  &__text {
    @extend %rubik-400;
    color: #436372;
    font-size: 18px;
    line-height: 30px;
    max-width: 370px;
    padding-bottom: 40px;
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: $btn;
    padding: 20px 25px 20px 15px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #ffffff;
  }
  &__icon {
    width: 25px;
  }
  &__photo {
    padding-top: 55px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      margin-left: 10px;
      padding-top: 200px;
      button {
        border: none;
        border-radius: 50%;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        @extend %rubik-500;
        color: #667983;
      }
    }
    li.slick-active {
      button {
        background-color: #ffffff;
        color: $title;
      }
    }
  }
}

.info-top {
  background-color: $accent;
  background-size: cover;
  display: flex;
  justify-content: space-around;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    position: relative;
    &::before {
      content: "";
      height: 23px;
      width: 23px;
      border: 1px solid #dfe3e2;
      background-color: #dfe3e2;
      border-radius: 50%;
      opacity: 0.7;
      position: absolute;
      top: 53%;
      left: 67%;
    }
  }
  &__item {
    margin-left: 20px;
  }
  &__items {
    padding: 0 150px;
  }
  &__items + .info-top__items {
    border-left: 1px solid #e8e4df;
    height: 170px;
    &::after {
      content: "";
      position: relative;
      top: 0;
      left: 50%;
    }
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    max-width: 215px;
  }
}

.product-inner {
  padding: 70px 0 80px;
  &__filter-btn {
    padding: 30px 0 65px;
    display: flex;
    justify-content: center;
  }
}
.product-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  height: 840px;
}
.product-item {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  max-width: 270px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__img-box {
    position: relative;
    overflow: hidden;
  }
  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(300%);
  }
  &__link-item:hover {
    background-color: $btn;
    path {
      fill: #ffffff;
    }
  }
  &__link-item {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 14px;
    margin-right: 16px;
    transition: all 0.3s;
  }

  &__link {
    display: inherit;
    path {
      transition: all 0.3s;
    }
  }

  &__images {
    display: block;
    margin: 0 auto;
  }
  &__info {
    margin: 50px auto 35px;
    text-align: center;
  }
  &__sibtitle {
    @extend %dmsans-500;
    color: $title;
    font-size: 16px;
    line-height: 40px;
  }
  &__price {
    @extend %dmsans-700;
    color: $btn;
    font-size: 16px;
    line-height: 40px;
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
}

.design-info {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;

  &__item {
    background-color: #feefe2;
    max-width: 870px;
    height: 380px;
    display: flex;
    justify-content: center;
  }
  &__image {
    position: relative;
    bottom: 85px;
    width: 233px;
    height: 405px;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 335px;
    margin: auto 15px 80px;
  }
  &__title {
    @extend %dmsans-700;
    color: $title;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  &__text {
    @extend%rubik-400;
    color: #334b57;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  &__link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    width: 180px;
    height: 60px;
    @extend%rubik-400;
    font-size: 15px;
    font-weight: bold;
    color: $default;
  }
  &__icon {
    width: 25px;
  }
}
.design-inner {
  padding: 100px 0 100px;

  &__filter-btn {
    text-align: center;
    padding: 25px 0 30px;
  }

  &__items {
    display: grid;
    min-height: 530px;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__descr {
    padding-top: 35px;
    padding-left: 30px;
  }
  &__subtitle,
  &__text {
    @extend %dmsans-700;
    width: 150px;
  }
  &__subtitle {
    font-size: 20px;
    color: $title;
    margin-bottom: 16px;
  }
  &__text {
    font-size: 16px;
    color: $btn;
  }
}

.video {
  &__popup {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.news-inner {
  position: relative;
  bottom: -170px;
  margin-top: -170px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__link {
    color: #191919;
    @extend %dmsans-700;
    font-size: 16px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 30px;
  }
  &__item {
    &::before {
      content: "NEWS";
      width: 100px;
      height: 30px;
      background-color: $btn;
      border-radius: 30px;
      color: #ffffff;
      @extend%poppins-700;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 30px;
      position: relative;
      top: 256px;
      left: 25px;
    }
  }

  &__itembox {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: #ffffff;
  }
  &__item-title {
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    max-width: 290px;
  }
  &__item-info {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    width: 315px;
  }

  &__date,
  &__author {
    color: #222933;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-right: 25px;
  }
}

.partners {
  display: block;
  background-color: $accent;
  background-position: top top;
  width: 100%;
  height: 440px;
  padding: 0;
  z-index: -1;

  &__items {
    padding-top: 240px;
  }
  &__list {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.modal {
  padding-top: 140px;
  max-width: 470px;
  margin: 0 auto 155px;
  &__lable {
    @extend%rubik-400;
    font-size: 14px;
    line-height: 38px;
    color: $default;
    display: block;
    margin-bottom: 20px;
  }
  &__input {
    display: block;
    width: 100%;
    height: 60px;
    border: solid 2px #f6f6f6;
    margin-bottom: 25px;
  }
  &__btn {
    background-color: $btn;
    @extend%rubik-500;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
    height: 60px;
    padding: 0 15px;
  }
  &__error {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    @extend%rubik-400;
    font-size: 14px;
    line-height: 48px;
    color: $default;
    border-bottom: solid 2px #f6f6f6;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__link {
    @extend%rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $default;
  }
  &__link-btn {
    @extend%rubik-500;
    font-size: 18px;
    color: $title;
    border: solid 2px $btn;
    width: 100%;
    height: 60px;
    padding: 17px 135px;
    margin-top: 20px;
  }
}
.partners-login {
  display: block;
  background-color: $accent;
  background-position: top top;
  width: 100%;
  height: 240px;
  &__items {
    padding: 77px 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.about {
  padding: 110px 0;
}
.about-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;

  &__img {
    max-width: 570px;
    width: 100%;
  }
  &__top {
    max-width: 570px;
    padding: 60px 0 0 40px;
  }
  &__descr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__span {
    @extend %rubik-700;
    font-size: 140px;
    color: $btn;
  }
  &__list-item {
    @extend %rubik-400;
    line-height: 30px;
    color: $title;
    margin-left: 25px;
  }
  &__title {
    padding: 20px 0 30px;
  }
  &__text {
    line-height: 30px;
    padding-bottom: 50px;
  }
  &__numbers {
    display: flex;
    justify-content: space-between;
    border-top: solid 2px #e6eaf0;
    padding-top: 30px;
  }
  &__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__number + .about-inner__number {
    border-left: solid 1px #e6eaf0;
    padding-left: 25px;
  }
  &__item {
    margin-left: 20px;
  }
  &__item-title {
    @extend %dmsans-700;
    color: $title;
    font-size: 36px;
    line-height: 38px;
  }
}

.numbers {
  background-color: $bg;
  width: 100%;
  height: 320px;
  &__items {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 70px;
  }
  &__item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    line-height: 32px;
    padding: 16px 0;
  }
  &__text {
    @extend %dmsans-700;
    color: $title;
    font-size: 18px;
    line-height: 32px;
  }
}

.team {
  padding-bottom: 90px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__description {
    margin-top: 10px;
    max-width: 340px;
  }

  &__title {
    padding-bottom: 25px;
    line-height: 32px;
  }
  &__text {
    line-height: 30px;
    margin-bottom: 60px;
  }
  &__images {
    margin-left: 20px;
  }
  &__link {
    background-color: $btn;
    border-radius: 10px;
    padding: 15px 20px;
    width: 170px;
    @extend %poppins-700;
    color: #ffffff;
    font-size: 15px;
  }

  &__members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: -10px;
  }
  &__descr {
    background-color: #ffffff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    width: 325px;
    height: 110px;
    position: relative;
    top: -48px;
    display: flex;
    justify-content: space-between;
  }

  &__name {
    margin-left: 20px;
  }
  &__title-name {
    @extend %dmsans-700;
    color: $default;
    font-size: 22px;
    line-height: 26px;
    margin: 25px 0 10px;
  }
  &__member-text {
    line-height: 30px;
  }
  &__social {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 20px;
  }
  &__social-instgr,
  &__social-google {
    background-color: #f6f6f6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 6px;
  }
  &__social-instgr {
    padding: 11px;
  }

  &__social-google {
    padding: 11px 8px;
  }
}

.condition {
  padding: 110px 0 100px;

  &__title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  &__list {
    list-style-type: decimal-leading-zero;
    margin-bottom: 60px;
  }
  &__item {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 25px 30px;
  }
  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
  }
}

.catalog {
  padding: 100px 0 110px;
  &__inner {
    display: flex;
  }
  &__filters {
    width: 270px;
    margin-right: 30px;
  }
  &__content-inner {
    width: 900px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.filter {
  &__title {
    margin-bottom: 25px;
    @extend %dmsans-700;
    font-size: 18px;
    color: $title;
    text-transform: uppercase;
    position: relative;
  }
  &__title::after {
    content: "";
    border-bottom: 3px solid $btn;
    width: 40px;
    position: absolute;
    top: 50%;
    margin-left: 12px;
  }
}
.filter-item {
  margin-bottom: 55px;
}

.filter-category {
  &__label {
    cursor: pointer;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: $top;
      border-radius: 7px;
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    @extend %rubik-400;
    color: $title;
    font-size: 16px;
    padding: 15px;
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }
  span {
    @extend %rubik-400;
    font-size: 14px;
    color: $title;
  }
}
.filter-price--active::after {
  content: "";
  display: none;
}

.irs--flat .irs-line {
  top: 6px;
  height: 3px;
  background-color: #c2d2db;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: $btn;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 5px;
  height: 5px;
  background-color: $btn;
}

.irs-from,
.irs-to,
.irs-single,
.irs--flat .irs-from {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.filter-brand {
  &__label {
    cursor: pointer;
  }

  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: $top;
      border-radius: 7px;
      & + .filter-brand__text,
      .filter-brand__num {
        color: $title;
      }
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    @extend %rubik-400;
    font-size: 16px;
  }
  &__text {
    color: $title;
  }
  &__num {
    color: $top;
  }
}
.filter-recent {
  max-width: 210px;
  &__item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  &__info {
    margin-left: 20px;
  }
  &__link {
    border: 3px solid #f2f2f2;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__subtitle,
  &__text {
    color: #333333;
    @extend %rubik-400;
  }
  &__subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 15px;
  }
}
.star {
  margin-left: -5px;
  margin-bottom: 10px;
}
.catalog__content-inner {
  &__item {
    width: 270px;
    height: 380px;
  }
}

@import "media";
