@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-logo {
  display: flex;
  .glee-img {
    position: relative;
    left: 10px;
    top: 6px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 30px;
  }
  &__list-link {
    @extend %rubik-500;
    color: $default;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 2px 1px;
  }
}

.user-nav {
  &__item {
    display: inline-flex;
  }

  &__item + .user-nav__item {
    margin-left: 20px;
  }
}

.user-nav__search {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #edf1f4;
  border-radius: 50%;
  background-color: #edf1f4;

  &-link {
    position: absolute;
    margin: 16px;
  }
}
.user-nav__buy {
  justify-content: space-between;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: #fcd7b6;

  &-link {
    position: relative;
    margin-left: 50px;
    top: 19px;
    left: -18px;
  }
  &-num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    top: -6px;
    right: -11px;
    color: $default;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
  }
}
.user-nav__buy::after {
  content: "";
  height: 32px;
  border-left: 1px solid #fde7d3;
  position: relative;
  top: 10px;
  left: -89px;
}

.user-nav__menu {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a3bbc8;
  &-link {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

.footer-top {
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact {
    width: 180px;
    margin-right: 120px;
  }
  &__sevices {
    width: 130px;
    margin-right: 170px;
  }
  &__account {
    width: 100px;
    margin-right: 200px;
  }

  &__forms {
    max-width: 270px;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 15px;
    @extend %rubik-400;
  }

  &__title {
    margin: 15px 0 25px;
    line-height: 21px;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;
    @extend %dmsans-700;
  }

  &__link {
    display: block;
    margin-bottom: 15px;
    @extend %rubik-400;
  }
  &__text {
    color: $footer;
    line-height: 24px;
    margin-bottom: 35px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__form-email {
    width: 170px;
    height: 40px;
    background-color: #fef7f0;
    border: none;
    outline: none;
    padding: 15px;
    color: #234969;
    font-size: 12px;
    &::placeholder {
      color: #234969;
      font-weight: bold;
    }
  }

  &__form-btn {
    max-width: 100px;
    width: 100%;
    height: 40px;
    background-color: #a3bbc8;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
}

.footer-bottom {
  height: 90px;
  padding: 30px 0 35px;
  display: flex;
  justify-content: space-between;

  &__text,
  &__item-link {
    @extend %rubik-400;
    color: $footer;
  }

  &__item-link {
    padding: 0 7px;
  }
  &__item-link + .footer-bottom__item-link {
    border-left: 1px solid $footer;
    height: 17px;
  }
  &__item-link::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
  }
}

@import "media";
