@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-logo {
  display: flex;
  .glee-img {
    position: relative;
    left: 10px;
    top: 6px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 30px;
  }
  &__list-link {
    @extend %rubik-500;
    color: $default;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 2px 1px;
  }
}

.user-nav {
  &__item {
    display: inline-flex;
  }

  &__item + .user-nav__item {
    margin-left: 20px;
  }
}

.user-nav__search {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #edf1f4;
  border-radius: 50%;
  background-color: #edf1f4;

  &-link {
    position: absolute;
    margin: 16px;
  }
}
.user-nav__buy {
  justify-content: space-between;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: $bg;

  &-link {
    position: relative;
    margin-left: 50px;
    top: 19px;
    left: -18px;
  }
  &-num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    top: -6px;
    right: -11px;
    color: $default;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
  }
}
.user-nav__buy::after {
  content: "";
  height: 32px;
  border-left: 1px solid #fde7d3;
  position: relative;
  top: 10px;
  left: -89px;
}

.user-nav__menu {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $btn;
  &-link {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

.footer-top {
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact {
    width: 180px;
    margin-right: 120px;
  }
  &__sevices {
    width: 130px;
    margin-right: 170px;
  }
  &__account {
    width: 100px;
    margin-right: 200px;
  }

  &__forms {
    max-width: 270px;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 15px;
    @extend %rubik-400;
  }

  &__title {
    margin: 15px 0 25px;
    line-height: 21px;
    font-size: 16px;
    text-transform: uppercase;
    color: #1f2044;
    @extend %dmsans-700;
  }

  &__link {
    display: block;
    margin-bottom: 15px;
    @extend %rubik-400;
  }
  &__text {
    color: $footer;
    line-height: 24px;
    margin-bottom: 35px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__form-email {
    width: 170px;
    height: 40px;
    background-color: $accent;
    border: none;
    outline: none;
    padding: 15px;
    color: #234969;
    font-size: 12px;
    &::placeholder {
      color: #234969;
      font-weight: bold;
    }
  }

  &__form-btn {
    max-width: 100px;
    width: 100%;
    height: 40px;
    background-color: $btn;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
}

.footer-bottom {
  height: 90px;
  padding: 30px 0 35px;
  display: flex;
  justify-content: space-between;

  &__text,
  &__item-link {
    @extend %rubik-400;
    color: $footer;
  }

  &__item-link {
    padding: 0 7px;
  }
  &__item-link + .footer-bottom__item-link {
    border-left: 1px solid $footer;
    height: 17px;
  }
  &__item-link::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
  }
}
.slider-top {
  &__inner {
    width: 100%;
    height: 820px;
    padding-top: 215px;
    background-color: $bg;
    background-size: cover;
    display: block;
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      top: 90px;
      bottom: 0;
      right: 0;
      left: 1030px;
      background-image: url("../images/slider/gradient-bg.png");
      background-repeat: no-repeat;
      width: 634px;
      height: 634px;
      z-index: -231;
    }
  }

  &__item {
    position: relative;
    z-index: 9999;
    display: flex !important;
    justify-content: space-evenly;
  }

  &__title {
    color: $title;
    @extend %rubik-500;
    font-size: 70px;
    line-height: 72px;
    max-width: 400px;
    padding-bottom: 40px;
  }
  &__text {
    @extend %rubik-400;
    color: #436372;
    font-size: 18px;
    line-height: 30px;
    max-width: 370px;
    padding-bottom: 40px;
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: $btn;
    padding: 20px 25px 20px 15px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #ffffff;
  }
  &__icon {
    width: 25px;
  }
  &__photo {
    padding-top: 55px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      margin-left: 10px;
      padding-top: 200px;
      button {
        border: none;
        border-radius: 50%;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        @extend %rubik-500;
        color: #667983;
      }
    }
    li.slick-active {
      button {
        background-color: #ffffff;
        color: $title;
      }
    }
  }
}

.info-top {
  background-color: $accent;
  background-size: cover;
  display: flex;
  justify-content: space-around;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    position: relative;
    &::before {
      content: "";
      height: 23px;
      width: 23px;
      border: 1px solid #dfe3e2;
      background-color: #dfe3e2;
      border-radius: 50%;
      opacity: 0.7;
      position: absolute;
      top: 53%;
      left: 67%;
    }
  }
  &__item {
    margin-left: 20px;
  }
  &__items {
    padding: 0 150px;
  }
  &__items + .info-top__items {
    border-left: 1px solid #e8e4df;
    height: 170px;
    &::after {
      content: "";
      position: relative;
      top: 0;
      left: 50%;
    }
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    max-width: 215px;
  }
}

.product-inner {
  padding: 70px 0 80px;
  &__filter-btn {
    padding: 30px 0 65px;
    display: flex;
    justify-content: center;
  }
  &__btn {
    border: none;
    background-color: #ffffff;
    margin-right: 30px;
    @extend %dmsans-700;
    color: #8b8b8b;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__btn:hover {
    color: #292929;
  }
}
.product-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 840px;
}
.product-item {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  max-width: 270px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__img-box {
    position: relative;
  }
  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link-item:hover {
    background-color: $btn;
    path {
      fill: #ffffff;
    }
  }
  &__link-item {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 14px;
    margin-right: 16px;
    transition: all 0.3s;
  }

  &__link {
    transition: all 0.3s;
  }

  &__images {
    display: block;
    margin: 0 auto;
  }
  &__info {
    margin: 50px auto 35px;
    text-align: center;
  }
  &__sibtitle {
    @extend %dmsans-500;
    color: $title;
    font-size: 16px;
    line-height: 40px;
  }
  &__price {
    @extend %dmsans-700;
    color: $btn;
    font-size: 16px;
    line-height: 40px;
  }
}

@import "media";
