.blog-inner {
  padding: 80px 0 110px;
  display: flex;
  justify-content: space-between;

  &__content {
    width: 870px;
  }
  &__aside {
    width: 270px;
  }

  &__title {
    font-size: 36px;
    color: $text;
    margin-bottom: 30px;
  }
  h6 {
    @extend %rubik-500;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 40px;
    line-height: 30px;
  }

  blockquote {
    width: 100%;
    height: 130px;
    background-color: $top;
    border-left: 7px solid $btn;
    padding: 20px 0 25px 30px;
    line-height: 30px;
    position: relative;
  }

  &__quote {
    position: absolute;
    left: 70px;
  }

  &__quote::before {
    content: " ";
    width: 20px;
    border-top: 4px solid $btn;
    position: absolute;
    bottom: 13px;
    left: -38px;
    padding-right: 20px;
  }

  &__left-img {
    width: 325px;
    height: 210px;
    float: left;
    margin: 40px 30px 40px 0;
  }

  &__right-img {
    width: 325px;
    height: 210px;
    float: right;
    margin: 40px 0 40px 30px;
  }

  h5 {
    @extend %rubik-500;
    font-size: 18px;
    margin: 77px 0 25px;
  }

  &__text {
    padding-bottom: 30px;
  }
  &__info {
    width: 280px;
    height: 70px;
    background-color: $btn;
    color: #fff;
    font-size: 12px;
    padding: 18px 30px;
    transform: translateY(-70px);
    display: flex;
    align-items: center;
  }
  &__admin {
    margin-left: 20px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 125px;
    border: 2px solid #ebebeb;
    border-left: none;
    border-right: none;
  }

  &__author {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 76px;
    height: 76px;
    margin: 20px 25px 20px 0;
  }

  &__name {
    margin: 35px 0;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    color: $text;
    margin-bottom: 15px;
  }

  &__info-text {
    color: #666666;
  }

  &__links {
    margin: 35px 0;
  }

  &__tag,
  &__share {
    color: $text;
    margin-bottom: 15px;
  }

  &__link1 {
    margin-left: 25px;
  }

  &__social {
    margin-left: 15px;
  }
}
.comments {
  &__title {
    padding-top: 60px;
    padding-bottom: 25px;
    font-weight: 700;
    font-style: 24px;
  }
  &__inner {
    margin: 25px 0 20px 0;
    display: flex;
  }
  &__inner-img {
    width: 100px;
    height: 100px;
    margin-right: 25px;
  }
  &__inner-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__inner-name {
    font-weight: 700;
  }
  &__inner-date {
    font-size: 14px;
  }
  .comments__inner-text {
    line-height: 30px;
    margin-bottom: 15px;
  }
  &__inner-reply {
    display: inline-block;
    padding-right: 20px;
    color: $title;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 50px;
      bottom: -6px;
      width: 30px;
      height: 20px;
      background-image: url("../images/icon/arrow-desing.svg");
      background-repeat: no-repeat;
    }
  }
  &__right {
    margin-left: 125px;
    width: 100%;
    border: 2px solid #e0e0e0;
    border-left: 0;
    border-right: 0;
    padding: 25px 0;
  }
}

.comments-form {
  padding-top: 65px;
  &__title {
    font-weight: 700;
    font-style: 24px;
  }
  &__box-input {
    margin-top: 35px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  &__text-input {
    margin-right: 25px;
    width: 400px;
    height: 45px;
    padding: 0 35px 0 15px;
    border: 1px solid #e5e5e5;
    color: #999999;
    outline: none;
    &:hover {
      border: 1px solid $btn;
    }
  }

  &__text-name {
    background: url("../images/icon/commentsicon1.svg") no-repeat scroll 17px
      17px;
    padding-left: 20px;
    background-position: 370px;
  }
  &__text-mail {
    background: url("../images/icon/commentsicon2.svg") no-repeat scroll 17px
      17px;
    padding-left: 20px;
    background-position: 370px;
  }
  &__textarea {
    padding: 20px 35px;
    width: 830px;
    height: 120px;
    background: url("../images/icon/commentsicon3.svg") no-repeat scroll 17px
      17px;
    padding-left: 20px;
    background-position: 800px 16px;
    outline: none;
    &:hover {
      border: 1px solid $btn;
    }
  }
  &__btn {
    width: 200px;
    height: 50px;
    background-color: $btn;
    color: #fff;
    margin-top: 40px;
  }
}

.blog__aside {
  width: 270px;

  .filter-search {
    &__form {
      display: flex;
    }
    &__input {
      border: 2px solid $top;
      border-radius: 5px;
      width: 220px;
      height: 50px;
      padding: 0 5px 0 15px;
      outline: none;
    }
    &__btn {
      width: 50px;
      height: 50px;
      background-color: $top;
      border-radius: 5px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: -4px;
    }
  }
  .filter-post {
    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__image {
      height: 70px;
      width: 70px;
    }
    &__info {
      margin-left: 15px;
    }
    &__text {
      font-size: 14px;
      color: $text;
      line-height: 25px;
      margin-bottom: 0;
    }
    &__span {
      text-transform: uppercase;
      color: #9a9a9a;
      font-size: 12px;
    }
  }
}

.filter-category {
  margin-top: 55px;
  &__label {
    cursor: pointer;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: $top;
      border-radius: 7px;
    }
  }
  &__checkbox {
    display: flex;
    justify-content: space-between;
    color: $title;
    padding: 15px;
  }
}
.filter-item {
  margin-bottom: 55px;
}

@media (max-width: 1200px) {
  .blog-one {
    padding: 60px 0;
  }
  .blog-inner {
    flex-direction: column;

    .filter-category,
    .filter-post {
      display: none;
    }

    &__content {
      width: 100%;
    }
    &__images {
      max-width: 100%;
      width: 100%;
    }

    &__item-text {
      max-width: 100%;
    }

    .blog__aside {
      order: -1;
      padding-bottom: 30px;
      width: 100%;
    }
    .filter-search {
      &__input {
        width: 100%;
      }
    }
  }

  .comments {
    &__right {
      margin-left: 0;
    }
  }
  .comments-form {
    width: 100%;
    &__textarea {
      width: 100%;
      background: none;
    }
    &__box-input {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 600px) {
  .blog-one {
    padding: 0;
  }
  .blog-inner {
    padding: 60px 0;
    blockquote {
      height: 150px;
    }

    &__info {
      width: 210px;
      height: 54px;
      font-size: 10px;
      padding: 1px 16px;
      transform: translateY(-54px);
    }

    &__title {
      font-size: 25px;
      padding: 25px 0;
      margin-bottom: 0;
      margin-top: -60px;
    }
    &__box {
      display: block;
      height: 275px;
    }
    &__author {
      display: block;
    }
    &__image {
      margin: 20px 0 0;
    }
    &__subtitle {
      margin-bottom: 0;
    }
    &__name {
      margin: 10px 0;
    }
  }
  .comments-form {
    &__box-input {
      display: block;
      margin-bottom: 20px;
    }
    &__text-input {
      width: 100%;
      background: none;
    }
    &__text-name {
      margin-bottom: 20px;
    }
  }

  .partners-login {
    height: 90px !important;
    .partners-login__items {
      padding: 36px 0;
    }
    img {
      max-width: 70%;
    }
  }
}

@media (max-width: 450px) {
  .blog-inner {
    blockquote {
      padding: 5px 0 3px 7px;
    }
    &__box {
      height: 170px;
    }
    &__image {
      display: none;
    }
  }
  .comments-form {
    &__btn {
      width: 140px;
      height: 40px;
      margin-top: 20px;
    }
  }
  .comments__inner-img {
    display: none;
  }
}
