.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-logo {
  display: flex;
  .glee-img {
    position: relative;
    left: 10px;
    top: 6px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 30px;
  }
  &__list-link {
    font-weight: 500;
    color: $default;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 2px 1px;
  }
}

.user-nav {
  &__item {
    display: inline-flex;
  }

  &__item + .user-nav__item {
    margin-left: 20px;
  }
}

.user-nav__search {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #edf1f4;
  border-radius: 50%;
  background-color: #edf1f4;

  &-link {
    position: absolute;
    margin: 16px;
  }
}
.user-nav__buy {
  justify-content: space-between;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: $bg;

  &-link {
    position: relative;
    margin-left: 50px;
    top: 19px;
    left: -18px;
  }
  &-num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    top: -6px;
    right: -11px;
    color: $default;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
  }
}
.user-nav__buy::after {
  content: "";
  height: 32px;
  border-left: 1px solid #fde7d3;
  position: relative;
  top: 10px;
  left: -89px;
}

.user-nav__menu-btn {
  position: relative;
  top: -24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $btn;
  .user-nav__menu-icon {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

@media (max-width: 1000px) {
  .menu {
    order: 1;
    margin-left: 20px;
    &__list {
      background-color: #ffffff;
      transform: translateY(-200%);
      position: absolute;
      top: 150px;
      left: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all 0.3s;
      cursor: pointer;
      &.menu__list--active {
        transform: translateY(0%);
        transition: all 0.3s;
      }
    }
    &__list-item + .menu__list-item {
      padding-left: 0;
    }
    &__list-item {
      width: 100%;
      text-align: center;
      padding: 0;
    }
    &__list-link {
      font-size: 20px;
      padding: 12px 0;
      display: block;
      width: 100%;
      padding: 12px 0;
    }

    &__menu-btn {
      position: relative;
      padding: 0;
    }
  }

  @media (max-width: 630px) {
    .header {
      padding: 20px 0;
      .header__inner {
        flex-direction: column;
      }
      .header-logo {
        padding-bottom: 20px;
      }
    }
  }

  @media (max-width: 500px) {
    .header {
      &__inner {
        flex-wrap: wrap;
      }
    }
    .menu {
      order: 0;
      &__list {
        top: 165px;
      }
    }
    .user-nav {
      transform: translateX(0);

      padding-top: 15px;
      width: 100%;
    }
  }
}
