.product-inner {
  padding: 70px 0 80px;
  &__filter-btn {
    padding: 30px 0 65px;
    display: flex;
    justify-content: center;
  }
}
.product-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
  height: 840px;
}
.product-item {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  max-width: 270px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__img-box {
    position: relative;
    overflow: hidden;
  }
  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(300%);
  }
  &__link-item:hover {
    background-color: $btn;
    path {
      fill: #ffffff;
    }
  }
  &__link-item {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 14px;
    margin-right: 16px;
    transition: all 0.3s;
  }

  &__link {
    display: inherit;
    path {
      transition: all 0.3s;
    }
  }

  &__images {
    display: block;
    margin: 0 auto;
  }
  &__info {
    margin: 50px auto 35px;
    text-align: center;
  }
  &__sibtitle {
    @extend %dmsans-500;
    color: $title;
    font-size: 16px;
    line-height: 40px;
  }
  &__price {
    @extend %dmsans-700;
    color: $btn;
    font-size: 16px;
    line-height: 40px;
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
}
