.design-info {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;

  &__item {
    background-color: #feefe2;
    max-width: 870px;
    height: 380px;
    display: flex;
    justify-content: center;
  }
  &__image {
    position: relative;
    bottom: 85px;
    width: 233px;
    height: 405px;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 335px;
    margin: auto 15px 80px;
  }
  &__title {
    @extend %dmsans-700;
    color: $title;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  &__text {
    color: #334b57;
    line-height: 25px;
    margin-bottom: 30px;
  }
  &__link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    width: 180px;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
    color: $default;
  }
  &__icon {
    width: 25px;
  }
}
.design-inner {
  padding: 100px 0 100px;

  &__filter-btn {
    text-align: center;
    padding: 25px 0 30px;
  }

  &__items {
    display: grid;
    min-height: 530px;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__descr {
    padding-top: 35px;
    padding-left: 30px;
  }
  &__subtitle,
  &__text {
    @extend %dmsans-700;
    width: 150px;
  }
  &__subtitle {
    font-size: 20px;
    color: $title;
    margin-bottom: 16px;
  }
  &__text {
    font-size: 16px;
    color: $btn;
  }
}

@media (max-width: 1150px) {
  .design-info {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;

    &__image {
      position: relative;
      bottom: 85px;
      width: 150px;
      height: 300px;
    }
  }
}

@media (max-width: 650px) {
  .design-inner {
    padding: 40px 0 40px;
  }
}
