.partners-login {
  display: block;
  background-color: $accent;
  background-position: top top;
  width: 100%;
  height: 240px;
  &__items {
    padding: 77px 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  .partners-login {
    object-fit: contain;
    height: 120px;
    &__items {
      padding-top: 0;
      padding: 15px 0;
    }
    img {
      max-width: 80%;
    }
  }
}

@media (max-width: 750px) {
  .partners-login {
    &__items {
      padding: 30px 0;
    }
    img {
      max-width: 60%;
    }
  }
}
