.about {
  padding: 110px 0;
}
.about-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;

  &__img {
    max-width: 570px;
    width: 100%;
  }
  &__top {
    max-width: 570px;
    padding: 60px 0 0 40px;
  }
  &__descr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__span {
    font-weight: 700;
    font-size: 140px;
    color: $btn;
  }
  &__list-item {
    line-height: 30px;
    color: $title;
    margin-left: 25px;
  }
  &__title {
    padding: 20px 0 30px;
  }
  &__text {
    line-height: 30px;
    padding-bottom: 50px;
  }
  &__numbers {
    display: flex;
    justify-content: space-between;
    border-top: solid 2px #e6eaf0;
    padding-top: 30px;
  }
  &__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__number + .about-inner__number {
    border-left: solid 1px #e6eaf0;
    padding-left: 25px;
  }
  &__item {
    margin-left: 20px;
  }
  &__item-title {
    @extend %dmsans-700;
    color: $title;
    font-size: 36px;
    line-height: 38px;
  }
}

.numbers {
  background-color: $bg;
  width: 100%;
  height: 320px;
  &__items {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 70px;
  }
  &__item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    max-width: 100%;
  }
  &__title {
    line-height: 32px;
    padding: 16px 0;
  }
  &__text {
    @extend %dmsans-700;
    color: $title;
    font-size: 18px;
    line-height: 32px;
  }
}

.team {
  padding-bottom: 90px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__description {
    margin-top: 10px;
    max-width: 340px;
  }

  &__title {
    padding-bottom: 25px;
    line-height: 32px;
  }
  &__text {
    line-height: 30px;
    margin-bottom: 60px;
  }
  &__image {
    max-width: 100%;
    margin-left: 20px;
  }
  &__link {
    background-color: $btn;
    border-radius: 10px;
    padding: 15px 20px;
    width: 170px;
    @extend %poppins-700;
    color: #ffffff;
    font-size: 15px;
  }

  &__members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: -10px;
  }
  &__descr {
    background-color: #ffffff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    width: 325px;
    height: 110px;
    position: relative;
    top: -48px;
    display: flex;
    justify-content: space-between;
  }

  &__name {
    margin-left: 20px;
  }
  &__title-name {
    @extend %dmsans-700;
    color: $default;
    font-size: 22px;
    line-height: 26px;
    margin: 25px 0 10px;
  }
  &__member-text {
    line-height: 30px;
  }
  &__social {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 20px;
  }
  &__social-instgr,
  &__social-google {
    background-color: #f6f6f6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 6px;
  }
  &__social-instgr {
    padding: 11px;
  }

  &__social-google {
    padding: 11px 8px;
  }
}

@media (max-width: 1200px) {
  .about {
    padding: 50px 0;
  }

  .about-inner {
    padding-bottom: 60px;

    &__img {
      width: 425px;
      height: 405px;
    }

    &__top {
      padding: 0 15px;
    }

    &__span {
      font-size: 70px;
    }

    &__list-item {
      line-height: 20px;
      margin-left: 10px;
    }

    &__title {
      padding: 15px 0 25px;
    }

    &__text {
      line-height: 25px;
      padding-bottom: 15px;
    }

    &__numbers {
      padding-top: 20px;
    }

    &__item-title {
      font-size: 25px;
    }
  }
}

@media (max-width: 1000px) {
  .team {
    &__inner {
      flex-wrap: wrap;
    }

    &__description {
      max-width: 100%;
    }

    &__members {
      padding-top: 30px;
    }
  }
}

@media (max-width: 930px) {
  .about-inner {
    &__img {
      height: 287px;
    }

    &__descr {
      justify-content: center;
    }
  }

  .numbers {
    height: 210px;

    &__items {
      padding: 35px 0 20px;
    }

    .img {
      max-width: 30%;
    }

    &__title {
      font-size: 25px;
      padding: 5px 0;
    }

    &__text {
      font-size: 16px;
      line-height: 15px;
    }
  }
}

@media (max-width: 750px) {
  .about-inner {
    display: block;

    &__img {
      display: none;
    }
  }

  .numbers {
    height: 150px;

    &__items {
      padding: 15px 0 15px;
    }

    &__img {
      max-width: 30%;
    }

    &__title {
      font-size: 20px;
      padding: 0;
    }

    &__text {
      font-size: 14px;
    }
  }
  .team {
    padding-bottom: 25px;

    &__text {
      margin-bottom: 40px;
    }

    &__image {
      max-width: 70%;
    }

    &__descr {
      width: 252px;
      height: 60px;
    }

    &__title-name {
      font-size: 14px;
      line-height: 0;
      margin: 15px 0 20px;
    }

    &__member-text {
      font-size: 14px;
      line-height: 15px;
    }
  }
}

@media (max-width: 600px) {
  .about-inner {
    &__title {
      font-size: 30px;
    }

    .about-inner__number + .about-inner__number {
      border-left: none;
      padding-left: 15px;
    }

    &__numbers {
      justify-content: space-around;
      padding-top: 10px;
    }

    &__item-img {
      display: none;
    }
  }

  .numbers {
    display: none;
  }

  .team {
    &__members {
      display: block;
    }
  }
}
