.products {
  padding-top: 120px;
}
.products-page {
  &__inner {
    display: flex;
  }

  &__slide {
    width: 570px;
    margin-right: 30px;
  }
  &__content {
    width: 570px;
  }
}

.products-slide {
  display: flex;
  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 25px;
  }
  &__thumb {
    width: 140px;
    margin-right: 25px;
  }
  &__thumb-item {
    width: 140px;
    height: 160px;
    margin-bottom: 25px;
    border: 2px solid #f0f0f0;
    background-color: #fefefe;
    cursor: pointer;
    img {
      width: 140px;
      height: 160px;
      object-fit: cover;
      padding: 4px;
    }
  }
  &__big {
    width: 385px;
    height: 530px;
  }
  &__big-item {
    width: 385px;
    height: 530px;
    border: 2px solid #f0f0f0;
    background-color: #fefefe;
    img {
      padding: 65px 65px;
    }
  }
}
.products-content {
  &__title {
    margin-bottom: 20px;
    font-size: 40px;
    color: #333333;
  }
  &__star {
    margin-bottom: 30px;
  }
  &__number {
    font-size: 30px;
    color: #333333;
    margin: 30px 0;
  }
  &__text {
    max-width: 535px;
    margin: 30px 0;
  }
  &__form {
    margin-bottom: 50px;
  }
  &__btn {
    width: 205px;
    height: 55px;
    background-color: $btn;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 15px;
  }
}

.jq-number__field {
  width: 150px;
  border: 1px solid $btn;
  transform: translateY(0);
  position: relative;
  padding: 0 50px;
}
.jq-number__field input {
  width: 100%;
  height: 52px;
  border: none;
  outline: none;
  color: $title;
  font-weight: 400;
  text-align: center;
  border-right: 1px solid $btn;
  border-left: 1px solid $btn;
  height: 52px;
}
.jq-number {
  padding: 0;
  position: relative;
}
.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.jq-number__spin.minus {
  left: 20px;
}

.jq-number__spin.plus {
  right: 20px;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 1px;
  background-color: $text;
  width: 10px;
  height: 1px;
}
.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  background-color: $text;
  width: 1px;
  height: 10px;
}

.products-info {
  &__list {
    margin-top: 50px;
  }
  &__item {
    display: flex;
  }
  &__title,
  &__text {
    line-height: 30px;
  }
}
.products-descr {
  padding: 110px 0 120px;
  &__links {
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  &__item {
    margin-right: 10px;
    width: 240px;
    height: 50px;
    background-color: $top;
    color: $title;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    &:hover > a {
      color: #fff;
    }
    &:hover {
      background-color: $btn;
    }
  }
  &__links-item {
    color: $title;
    font-size: 18px;
  }
  &__text {
    color: $title;
    line-height: 30px;
  }
}

.products-relate {
  padding-bottom: 90px;
  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    color: $title;
    text-align: start;
    margin-bottom: 60px;
  }
  &__slide {
    max-width: 100%;
    min-width: 0;
    position: relative;
  }
  .product-item {
    margin-right: 30px;
  }

  .product-item__img-box {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 6px 7px 3px rgb(37 37 37 / 5%);
    width: 270px;
    height: 380px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding: 0 15px;
  }

  .slick-slider {
    min-width: 0;
    position: relative;
  }

  .slick-list {
    overflow: hidden;
    padding: 15px;
  }
  .slick-arrow {
    position: absolute;
    top: -90px;
    right: 2px;
    font-size: 0;
    border: 2px solid $top;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    &:hover {
      border: 2px solid $btn;
    }
  }
  .slick-prev {
    right: 70px;
    background-image: url(../images/icon/products-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .slick-next {
    margin-left: 20px;
    background-image: url(../images/icon/products-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .slick-prev {
    right: 60px;
  }
}

.filter-search {
  padding-bottom: 50px;
  &__form {
    display: flex;
  }
  &__input {
    border: 2px solid $top;
    border-radius: 5px;
    width: 220px;
    height: 50px;
    padding: 0 5px 0 15px;
  }
  &__btn {
    width: 50px;
    height: 50px;
    background-color: $top;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: -4px;
  }
}
.filter-post {
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__image {
    height: 70px;
    width: 70px;
  }
  &__info {
    margin-left: 15px;
  }
  &__text {
    margin-bottom: 10px;
    font-size: 14px;
    color: $text;
  }
  &__span {
    text-transform: uppercase;
    color: #9a9a9a;
    font-size: 12px;
  }
}
.product-item {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  max-width: 270px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__img-box {
    position: relative;
    overflow: hidden;
  }
  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(300%);
  }
  &__link-item:hover {
    background-color: $btn;
    path {
      fill: #ffffff;
    }
  }
  &__link-item {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 14px;
    margin-right: 16px;
    transition: all 0.3s;
  }

  &__link {
    display: inherit;
    path {
      transition: all 0.3s;
    }
  }

  &__images {
    display: block;
    margin: 0 auto;
  }
  &__info {
    margin: 50px auto 35px;
    text-align: center;
  }
  &__sibtitle {
    @extend %dmsans-500;
    color: $title;
    font-size: 16px;
    line-height: 40px;
  }
  &__price {
    @extend %dmsans-700;
    color: $btn;
    font-size: 16px;
    line-height: 40px;
  }
  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }
}

@media (max-width: 1100px) {
  .products-slide {
    &__thumb {
      display: none;
    }
  }
  .products-content {
    &__title {
      text-align: center;
    }
  }

  .products-page {
    &__slide {
      width: auto;
      justify-content: center;
    }
  }
}

@media (max-width: 930px) {
  .products {
    padding-top: 40px;
  }
  .products-page {
    &__inner {
      display: block;
    }
    .products-content {
      width: 100%;
      margin-top: 35px;

      &__star {
        margin: 0 auto;
      }
      &__text {
        max-width: 100%;
      }
      &__form {
        margin-bottom: 35px;
      }
    }
    .products-descr {
      padding: 30px 0;
      &__links {
        display: block;
      }
      &__item + .products-descr__item {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .products-relate {
    &__title {
      font-size: 30px;
    }
    &__slide {
      text-align: center;
    }
    .slick-arrow {
      top: -46px;
    }
    .slick-prev {
      top: -46px;
    }
  }
}

@media (max-width: 450px) {
  .products-content {
    &__form {
      text-align: center;
    }
    &__btn {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .products-slide {
    &__big-item {
      height: 424px;
    }
    &__big-item img {
      padding: 5px 65px;
    }
  }
}
